html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.container {
  margin: 0 auto;
  max-width: none; 
  padding: 20px; 
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 90%;
    padding: 10px;
  }
}
