.image-slider {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
  
.image-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
